/node_modules
/public/hot
/public/storage
/public/upload
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.gitignore
.htaccess
.index.php
/public/.index.php
/public/.htaccess
/public/index.php
/public/htaccess