
@import url("bader_al-gordabia.ttf");
@import url(seguisb.ttf);
@import url(MicrosoftSansSerif.ttf);
@import url(bein-ar-normal_0.ttf);


@font-face{
   font-family:bein;
  src:  url(bein-ar-normal_0.ttf);
}

body{
    font-family: bein;
    text-transform: capitalize;
        color: #333;
overflow-x: hidden;
}

.arabic {
    direction: rtl!important;
    text-align: right!important;
    font-size: 20px;
}
nav{
  text-transform: uppercase;  
}
.logo{
    width: 200px;
}

 a{
    color: #000;
}
.c-light{
    color: rgba(102,102,102,0.7);

}
.s-25 {
    font-size: 25px;
    }
.row ,.mr-0{
    margin: 0px!important;
}
.pad-0 {
    padding-left: 0px!important;
        padding-right: 0px!important;
}
.relative{
    position: relative!important;
}

 .bg-main a{
    color: #fff!important;
}

.main-color 
{
    color: #10235c!important;
}


.bg-none {
    background: none!important;
}
.bg-b {
    background: #000!important;
        color: #fff!important;

}
.bg-b a{
        color: #fff!important;

}
.bg-w ,.bg-w a {
    background-color:#fff!important;
    color: #000!important;
}
.bg-main ,a.bg-main {
        background-color: #10235c!important;
    color: #fff!important;
}
.border-main{
    border-bottom: 3px solid #10235c;
}

.c-w{
    color: #fff!important;
    
}
.c-b{
    color: #000!important;
    
}
.whatsapp {
    position: fixed;
    bottom: 30px;
    right: 20px;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    z-index: 8;

}
.mr-left{
    margin: 0px!important;
    margin-left: auto!important;
}
.mr-right{
    margin: 0px!important;
    margin-right: auto!important;
}
.mr-auto{
    margin:auto!important;
}
hr{
    width: 50px;
    border: 2px solid #76d4ec;
    
}
h2{
    font-weight: 700;
    font-size: 26px;
        margin-bottom: 0rem!important;

}
h3{
        font-size: 22px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}
.services-list li {
    width: 200px;
    height: 175px;
    background-color: #10235c;
    display: inline-block;
    border: 1px #f9f9f9 solid;
    margin-right: 20px;
    margin-bottom: 50px;
    padding: 30px 0 0 0;
    vertical-align: middle;
}
.services-list li a {
        color: #fff;
}
p {
    font-size: 14px;
    line-height: 24px;
}
.icon{
    font-size: 50px;
    color: #10235c;
}
.circle{
    width: 80px;
    height: 80px;
      background-color: #10235c;
    border-radius: 50%;
    padding-top: 15px;
        font-size: 48px;
    color: #fff;
    margin: auto;
}
footer , footer a{
    color: #fff;
    padding: 5px;
}

footer .svg-inline--fa {
    font-size: 25px;
    }
.h{
    height:40vh;
    object-fit:cover;
}
.abs{
    text-align: center;
    padding-top: 15vh;
    padding-bottom: 15vh;
    position: absolute;
    color:#fff;
    top:0;
    bottom: 0;
    right: 0;
    left:0;
    line-height:3;
    
}
.abs a{
    color: #fff;
}
.img-services{
    width: 300px;
    margin: 10px;
}
.navbar {
    padding-top: 0px!important;
      padding-bottom: 0px!important;
}
.carousel-item   img{
    max-height: 80vh;
}

.country{
    position: fixed;
    top: 0;
    right: 0;
    left:0;
    z-index: 1111111;
    background: #9a96968c;
    bottom: 0;
  
}
.country > div{
    width: 40%;
    margin: auto;
}
.abs-shop{
    position: absolute;
    top:50vh;
text-align: center;
    width: 100%;
}
.country > video{
    height: 75vh;
    object-fit: cover;
}
.display-none{
    display: none;
}